<form action="/tasks/user" method="post">
account:<input style="text-align: center;" type="text" name="account"></input>
password:<input style="text-align: center;" type="hidden" name="password"></input>
<button type="submit" name="action" value="login">login</button>
<button type="submit" name="action" value="create">create user</button>
</form>